@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@700&family=Bitter:wght@400;600&family=Comfortaa:wght@300&family=Domine&family=Press+Start+2P&family=Roboto:wght@100;400&family=Tiro+Bangla&family=Trispace:wght@800&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.App {
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  height: 4rem;
  padding: 1rem;
  justify-content: flex-end;
  width: 100%;
}

.navbar-content div {
  margin-left: 4%;
  font-size: 1rem;
}
.navbar-content div a {
  transition-duration: 1s;
  color: white;
}

.navbar-content div a:hover {
  font-size: 1.5rem;
  transform: translateY(10px);
  border-bottom: 0.2rem solid white;
}

.navbar div {
  border-style: none;
  margin-right: 10%;
}
.contact {
  margin-right: 2rem;
}

.mainpage {
  background-image: url(./wave.svg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  height: 100vh;
  padding: 2rem;
  box-shadow: 10px 10px 40px white;
}

.page {
  text-align: left;
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.profile-pic {
  width: 25rem;
  height: 15rem;
  margin: 0rem 2rem 2rem 0rem;
}

.profile-pic img {
  width: 100%;
  border-radius: 1rem 6rem 1rem 6rem;
  /* box-shadow: 10px 10px 5px white; */
}

.page a i {
  margin-right: 1rem;
  font-size: 2rem;
}
.wave {
  margin-left: -2rem;
}

.page h2 {
  font-size: 2.5rem;
}

.aboutComponent {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.aboutComponent {
  background-color: white;
  text-shadow: 2px 2px 8px gray;
}

.aboutPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 80%;
}

.aboutTitle {
  margin-top: 2rem;
  font-size: 3rem;
  text-shadow: 2px 2px 10px gray;
}

.skill {
  width: 60%;
  padding: 1rem;
  /* background-color: aliceblue; */
  font-size: 2.2rem;
}

.skill::before {
  content: "";
  animation: animate linear infinite 10s;
}

@keyframes animate {
  0% {
    content: "Problem Solver";
    color: black;
    text-shadow: 2px 2px 10px gray;
  }

  20% {
    content: "Critical Thinking";
  }

  60% {
    content: "Positive Attitude";
  }

  80% {
    content: "Leadership";
  }

  100% {
    content: "Organizational";
  }
}

.aboutBrief {
  width: 80%;
  padding: 1.5rem;
  background-color: aliceblue;
  border-radius: 1rem 1rem 4rem 4rem;
}

#hide {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Resume */
.resumeComponent {
  width: 100%;
  height: fit-content;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 20px 20px 10px white;
  text-shadow: 0px 0px 1px skyblue;
}

.box {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.myResume {
  width: 100%;
  font-size: 3rem;
  text-shadow: 2px 2px 2px lightskyblue;
  /* box-shadow: 0px 10px 5px #888, 0px -10px 5px #888; */
}

.box1 {
  width: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.box2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
}

.box3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.box3-1 {
  width: 100%;
}

.box3-2 {
  width: fit-content;
  text-align: right;
  font-weight: 600;
}

.contactComponent {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  gap: 0.5rem;
}

.contactComponent div a {
  color: white;
  margin-left: 0.5rem;
}

.contactTitle {
  font-size: 2rem;
}

.email,
.mobile-no {
  font-size: 1rem;
  transition-duration: 1.5s;
}

.email:hover,
.mobile-no:hover {
  font-size: 1.5rem;
}

.projectComponent {
  width: 100%;
  height: fit-content;
}

.project-container {
  width: 100%;
  padding: 2rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.projectTitle {
  font-size: 2.5rem;
  text-shadow: 1px 1px 20px black;
}

.project1 {
  width: 20rem;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.402);
}

.project1 a {
  text-decoration: none;
  color: white;
  padding-top: 3.5rem;
  font-size: 1.5rem;
}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.project1 a:hover {
  background-color: rgb(20, 21, 21);
}

@media only screen and (max-width: 760px) {
  .navbar-content {
    justify-content: center;
  }
}

@media only screen and (min-width: 1070px) {
  .box3-1 {
    width: 80%;
  }

  .box3-2 {
    width: 10rem;
  }

  .contactComponent {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .contactTitle {
    margin-right: 20%;
  }

  .email,
  .mobile-no {
    margin-right: 10%;
  }
}

@media only screen and (min-width: 1570px) {
  html {
    font-size: 30px;
  }
}
